.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */
.remove-all-btn-container {
  align-self: flex-end;
}
.remove-all-button {
  color: #0b69ff;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: auto;
}
@media screen and (min-width: 768px) {
  .cart-summary {
    width: 250px;
    align-self: flex-end;
    margin-top: 25px;
  }
  .cart-summary > div {
    align-self: flex-start;
  }
}

.cart-summary h1 {
  color: #616e7c;
  font-family: 'Roboto';
  margin: 0;
  font-size: 20px;
}
.cart-summary span {
  color: #141f46;
}
.cart-summary p {
  color: #616e7c;
  font-family: 'Roboto';
  margin-top: 6px;
}
.cart-summary button {
  align-self: stretch;
  background-color: #0b69ff;
  height: 38px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Roboto';
  /* font-size: 14px; */
  cursor: pointer;
  outline: none;
}

* {
  /* border: 1px solid red; */
}
